fastapi[standard] == 0.115.12
influxdb3-python == 0.11.0
langchain == 0.3.19
langchain-community == 0.3.18
langchain-ollama == 0.3.0
langgraph == 0.3.20
langgraph-checkpoint-postgres == 2.0.21
langgraph-cli[inmem] == 0.1.89
pandas == 2.2.3
psycopg-pool == 3.2.6
psycopg[binary] == 3.2.6
pydantic == 2.10.6
sqlglot[rs] == 26.16.4
